   *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
            --primary: #112c3f;
            --secondary: #1dc7a0 ;
            --footer: #474747;
            --acceuil : #006B52;
        ;
        }




/* ------------ Badr ------------*/
 
/* ------------ Badr ------------*/




/* ------------ Youness ------------*/

/* ------------ Youness ------------*/




/* ------------ Ayoub ------------*/

/* ------------ Ayoub ------------*/




/* ------------ Ferd ------------*/


/* ------------ Ferd ------------*/




/* ------------ Mustafa ------------*/


/* ------------ Mustafa ------------*/



