   *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
            --primary: #112c3f;
            --secondary: #1dc7a0 ;
            --footer: #474747;
            --acceuil : #006B52;
            --linear : linear-gradient(90deg,rgba(7, 126, 98, 1) 1%, rgba(29, 199, 160, 1) 44%);
        ;
        }




/* ------------ Badr ------------*/
 *{
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}


.offer{
    text-align: center;
    padding-top: 15px;
    height: 50px;
    background-color: #1DC7A0;
    margin-bottom: 20px;
    border-radius: 0 0 25px 25px;

}

#offerTxt{
    position: absolute;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    font-size: 18px;
    font-weight: bold;
    color: var(--acceuil);
}

@keyframes scroll-left {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
}


.navbar{
    display: flex;
    height: 60px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background: #077E62;
    background: linear-gradient(90deg,rgba(7, 126, 98, 1) 1%, rgba(29, 199, 160, 1) 44%);
    border-radius: 50px ;
    padding: 10px 30px;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.accueil{
    height: 100vh;
    background-color: #112C3F;
}
/* ------------ Badr ------------*/




/* ------------ Youness ------------*/

/* ------------ Youness ------------*/




/* ------------ Ayoub ------------*/

/* ------------ Ayoub ------------*/




/* ------------ Ferd ------------*/


/* ------------ Ferd ------------*/




/* ------------ Mustafa ------------*/


/* ------------ Mustafa ------------*/



